{{! SP CUSTOMIZATION - ENTIRE FILE }}

<div class='container'>
  <div class='contents clearfix'>

    {{!-- {{home-logo minimized=showExtraInfo}} --}}
    <a class="logomark" href="/" tabindex="">
      <img src="/uploads/default/11/bbb35b4a28fbe359.png" alt="plus.neusoft.com" width="150">
    </a>

    <div class='panel clearfix'>
      {{#unless currentUser}}
        {{d-button id="user-login" class="btn-primary btn-small login-button" action="showLogin" icon="user" label="log_in"}}
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          <li class='notifications'>
            <a class='icon' href="#" {{action "showNotifications" target="view"}} data-notifications="notifications-dropdown" id='user-notifications' title='{{i18n 'notifications.title'}}'>
              {{fa-icon "comment" label="notifications.title"}}
            </a>
            {{#if currentUser.unread_notifications}}
              <a href='#' class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href='#' class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          </li>
        {{/if}}
        <li>
          {{#if loginRequired}}
            <a id='search-button' class='icon expand' href='#' aria-hidden="true" {{action showLogin}}>
              {{fa-icon "search"}}
            </a>
          {{else}}
            <a id='search-button'
               class='icon expand'
               href='#'
               data-dropdown="search-dropdown"
               title='{{i18n "search.title"}}'>
               {{fa-icon "search" label="search.title"}}
            </a>
          {{/if}}
        </li>
        <li class='categories dropdown'>
          {{#if loginRequired}}
            <a class='icon'
               href="#"
               aria-hidden="true"
               {{action showLogin}}>
               {{fa-icon "bars"}}
            </a>
          {{else}}
            <a class='icon'
               data-dropdown="site-map-dropdown"
               data-render="renderSiteMap"
               href="#"
               title='{{i18n "site_map"}}'
               id="site-map">
               {{fa-icon "bars" label="site_map"}}
            </a>
          {{/if}}
          {{#if currentUser.site_flagged_posts_count}}
            <a href='/admin/flags/active' title='{{i18n "notifications.total_flagged"}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
          {{/if}}
        </li>
        {{#if currentUser}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='{{i18n "user.avatar.title"}}'
               id="current-user">
                 {{bound-avatar currentUser "medium"}}
            </a>
          </li>
        {{/if}}
      </ul>

      {{render "search"}}

      {{render "notifications" notifications}}

      {{#if view.renderSiteMap}}
        {{render "site-map"}}
      {{/if}}

      {{render "user-dropdown"}}

    </div>

    {{#unless showExtraInfo}}
      <div class="header-links-wrapper clearfix">
	    <a class="header-link" href="/" tabindex="">论坛</a>
        <a class="header-link" href="#" tabindex="" style="cursor:default">资源</a>
		<a class="header-link" href="#" tabindex="" style="cursor:default">课堂</a>
        <!--
		<a class="header-link" target="_blank" href="https://learnable.com/topics/all?utm_source=sitepoint&utm_medium=link&utm_content=top-nav" tabindex="">Books &amp; Courses</a>
		-->
      </div>
    {{/unless}}

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{/if}}

  </div>
</div>
